.container{
    width: 1820px;
    display: flex;
    justify-content: space-between;
    margin: 2em ;
    flex-wrap: wrap;
   
}


.start{
    justify-content: flex-start;
    
}
.column{
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;
   
}

.reserva{
    
        width: 1700px;
        display: flex;
        justify-content: space-between;
        margin: 2em ;
        flex-wrap: wrap;
    
}

.reserva_start{
    
    justify-content: flex-start;
    width: 1700px;
}
.column_reserva{
   
    width: 1700px;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;
}